<meta property="og:url" content="{{ site.url }}{{ uri }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ social.title }}" />
<meta property="og:description" content="{{ social.description }}" />
<meta property="og:image" content="{{ site.url }}/assets/img/{{ social.image }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ network.twitter if network.twitter else site.network.twitter }}">