/*------------------------------------*\
    #HOMEPAGE
\*------------------------------------*/

/**
 * Welcome home
 */

/*
  <div class="home">
*/

$b: '.home';

#{$b} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: rem(size(space));
  box-sizing: border-box;
}
